.intro{
    text-align: left;
    padding: 20px;
}
.content{
    text-align: center;
}
#javascript-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projects{
    width: 450px;
    height: 525px;
    margin: 5px;
    padding: 10px;
    border: outset #35191f;
    background-color: #2e151b;
}
.project-info{
    text-align: left;
}

}
.resume{
    text-align: left;
    width: 900px;
    margin: auto;
}
#docIFrame {
    text-align: center;
    width: 900px;
    height: 1066px;
    margin: auto;
    border: solid 1px lightgray;
  }