.navbar{
     background-color: #67696b;
     position: fixed;
     width: 100%;
}
li{
     list-style-type: none;
}
.navLink{
     display: inline;
     float: left;
     display: block;
     padding: 10px;
     text-decoration: none;
     color: inherit;
     font-weight: 1000;
}
li a:hover {
     background-color: #9c0ba4;
}