.navbar{
     background-color: #2b2b2b;
}
li{
     list-style-type: none;
}
.navLink{
     display: inline;
     float: left;
     display: block;
     padding: 10px;
     text-decoration: none;
     color: inherit;
     font-weight: 1000;
     /* background-color: #2b2b2b */
}
li a:hover {
     background-color: #9c0ba4;
}