
.projects{
     width: 450px;
     height: 525px;
     margin: 5px auto;
     padding: 10px;
     border: outset #242421;
     background-color: #21211f;
} 
.project-info{
     text-align: left;
}
.links{
     display: inline;
     color: #0ba49c;
}
.projectbar {
     display: inline-block;
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
}
.projlink{
     float: left;
     background-color: #21211f; 
     color: #fff;
     text-decoration: underline;
}
a {
     display: block;
     padding: 10px;
     text-decoration: none;
     color: inherit;
}
li a:hover {
     background-color: #9c0ba4;
}
.projactive {
     color: #0ba49c;
     background-color: ##21211f;
     text-decoration: underline;
}