
.projects{
     width: 450px;
     height: 525px;
     margin: 5px auto;
     padding: 10px;
     border: outset #5d5c55;
     background-color: #5d5c61;
} 
.project-info{
     text-align: left;
}
.links{
     display: inline;
     color: #f13c20;
}
.projectbar {
     display: inline-block;
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
}
.projlink{
     float: left;
     background-color: 5d5c61; 
     color: #fff;
     text-decoration: underline;
}
a {
     display: block;
     padding: 10px;
     text-decoration: none;
     color: inherit;
}
li a:hover {
     background-color: #ff6666;
}
.projactive {
     color: #f13c20;
     background-color: #5d5c61;
     text-decoration: underline;
}