.resume{
     text-align: left;
     width: 900px;
     margin: auto;
}
#docIFrame {
     text-align: center;
     width: 900px;
     height: 1066px;
     margin: auto;
     border: solid 1px lightgray;
  }