
#resume{
     margin: 20px;
     text-align: center;
}
#docIFrame {
     width: 900px;
     height: 1066px;
     margin: auto;
     border: solid 1px lightgray;
  }
  #download{
       text-align: left;
  }