.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d79922;
}
.navlink{
    display: inline;
    float: left;
}
a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}
li a:hover {
    background-color: #efe2ba;
}
.active {
    background-color: #f13c20;
}