
.javascript-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projects{
    width: 450px;
    height: 525px;
    margin: 5px;
    padding: 10px;
    border: outset #394d90;
    background-color: #4056a1;
}
.project-info{
    text-align: left;
}
.links{
    display: inline;
    color: #f13c20;
}