@use './colors.scss' as *;


*{
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--background);
  color: var(--text-color);
  text-align: left;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1, h2, h3{
  clear: both;
  text-align: center;
  margin: 20px;
}
.links {
  color:  var(--links);
  display: inline;
  font-weight: 700;
}
.content{
  clear: both;
  margin: 30px;
}
 